@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body
{
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 100vw;
  background-color: rgb(255, 255, 255);
}
main
{
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.container-title
{
  font-family: 'Bungee Shade', cursive;
  color:#29c040;  
  font-size: 3vw;
  margin-top: 20px;
}
.container
{ 
  top: 35vw;
  position: absolute;
  display: flex;
  transform-style: preserve-3d;
  gap: 2vw;
  transform: rotateY(30deg) rotateX(10deg);  
}
.container .text
{
  position: relative;
  width: 10vw;
  height: 10vw;
  transform-style: preserve-3d;
  transition: 2.5s ease-in-out;
}
.container .text::before
{
  content: '';
  position: absolute;
  width: 10vw;
  height: 10vw;
  background: #373737;
  transform-origin: left;
  transform: rotateY(90deg) translateX(-5vw);

}
.container .text span
{
  position: absolute;
  top:0;
  left: 0;
  width: 10vw;
  height: 10vw;
  background: linear-gradient(#29c040, #32ed4e);
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  color: #333;
  transform-style: preserve-3d;
  transform: rotateX(calc(90deg * var(--i)))translateZ(5vw);
}
.container-btn .btn
{
  display: flex;
  margin-top: 15vw;
  border: none;
  border-radius: 10px;
  background-color:#32ed4e;
  color:#2b2b2b;
  font-size: 20px;
  padding: 2vw 5vw;
  cursor: pointer;
}
.container-btn .btn:hover
{
  background-color: #2b2b2b;
  color: #29c040;
}
.container-list
{
  display: flex;
  list-style: none;
  justify-content: center;
  background-color: #32ed4e;
  padding: 0 1vw;
}
.container-list a
{
  margin:1vw 0;
  font-size: 5vw;
  cursor: pointer;  
  padding: 3vw 3vw;
  text-decoration: none; 
}
a
{
  color: #2b2b2b;
}
.container-list a:hover
{
  background-color: #373737;
  color: #29c040;
}
.container-resultado
{
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-top: 5vw;  
  width: 60vw;
  height: 20vw;
  background-color: #32ed4e; 
  color: #333;
  border-radius: 10px;
  font-size: 5vw;
  padding: 10px;
  border: #2b2b2b solid;
}
.selected
{
  background-color:#333 ;
  color: #29c040;
}
#numero-escolhido
{
  font-size: 5vw;
  color: #2b2b2b;
  margin-top: 10px;
}
